.complicated-checkbox{
  display: inline-block;

  label{
    color:#666;
  }
  input[type="text"]{
    max-width: 50px;
  }
  input[type="date"]{
    max-width: 150px;
  }
  input[type="text"],
  input[type="date"]{
    margin-left: 5px;
  }
}

.complicated-checkbox+
.complicated-checkbox{
  margin-left:20px;
}

@media (max-width: 767px) {
  .complicated-checkbox{
    display: block;
    margin: 0;
  }
  .complicated-checkbox+
  .complicated-checkbox{
    margin-left:0;
  }
}
