.filter{
  .super-filter+.select_wrapper{
    margin-left: 25px;
  }
  .select_wrapper+.select_wrapper{
    margin-left: 5px;
  }
  .filter-line{
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .filter{
    .super-filter+.select_wrapper{
      margin-left: 0px;
    }
    .select_wrapper+.select_wrapper{
      margin-left:0px;
    }
  }
  .filter .super-filter,
  .filter .select_wrapper{
    display: block!important;
    margin: 10px 0;
  }
}

.super-filter{
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  color: #6a737d;
}
