.data{
  padding: 20px;
  display: flex;
  max-width: 1012px;
  margin: auto;
  .btn-submit{
    font-size: 14px;
    padding: 5px 10px;
  }
}
.repos{
  margin-left: 25px;
}
.container{
  margin-left: 30px;
}
@media (max-width: 767px) {
  main,.data{
    display: block;
  }
  .container{
    margin-left: 0;
  }
  .repos{
    margin-left: 0;
  }
}
